:root {
    --neutral-color: gray;
    --bg-color: rgb(213, 213, 233);
    --inner-primary: rgb(243, 255, 241);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

label {
    margin: min(10px);
}

.text-input {
    height: 80%;
    align-self: center;
}

.task {
    border: 1px solid var(--neutral-color);
    width: 70%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 15%;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    background-color: var(--inner-primary);
}

.task-info {
    display: inline;
    line-height: 20px;
}

.task-delete-icon {
    font-size: 150%;
}

.task-delete-icon:hover {
    cursor: pointer;
}

#sort-by-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sort-by-label {
    margin-right: 20px;
}